server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name domain.com;
	
	access_log /dev/stdout;
	error_log /dev/stdout info;

	# SSL
	ssl_certificate /etc/nginx/ssl/domain.com.crt;
	ssl_certificate_key /etc/nginx/ssl/domain.com.key;

	set $app varnishpass;
	set $appv 1;
	# reverse proxy
	location / {
		# if you want to use varnish, set proxy_pass to http://varnish
		proxy_pass http://nginx;
		include conf.d/proxy.conf;
	}
}

# subdomains redirect
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name *.domain.com;

	# SSL
	ssl_certificate /etc/nginx/ssl/domain.com.crt;
	ssl_certificate_key /etc/nginx/ssl/domain.com.key;

	return 301 https://domain.com$request_uri;
}

# HTTP redirect
server {
	listen 80;
	listen [::]:80;

	server_name .domain.com;

	return 301 https://domain.com$request_uri;
}