server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name domain.com;

	access_log /dev/stdout;
	error_log /dev/stdout info;

	ssl_certificate /etc/nginx/ssl/domain.com.crt;
	ssl_certificate_key /etc/nginx/ssl/domain.com.key;

	include sites-conf/pagespeed.conf;

	location / {
		proxy_pass http://varnish;
		# proxy_pass http://apache;
		include sites-conf/proxy.conf;
	}
}