server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name domain.com;
	set $base /var/www/html;
	root $base/public;
	

	access_log /dev/stdout;
	error_log /dev/stdout info;

	ssl_certificate /etc/nginx/ssl/domain.com.crt;
	ssl_certificate_key /etc/nginx/ssl/domain.com.key;

	add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
 
    index index.php;
 
    charset utf-8;
 
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
 
    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }
 
    error_page 404 /index.php;
 
    location ~ \.php$ {
        include sites-conf/php.conf;
    }
}