server {
	listen 80;
	listen [::]:80;

	server_name magento.example;
	set $base /var/www/html;
	root $base;

	# index.php
	index index.php;
	
	access_log /dev/null;
	error_log /dev/stderr;

	include sites-conf/magento.conf;
	include sites-conf/general.conf;
	# include sites-conf/pagespeed.conf;
}

# subdomains redirect
server {
	listen 80;
	listen [::]:80;

	server_name *.magento.example;

	return 301 http://magento.example$request_uri;
}
